@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: white;
}

p {
    color: lawngreen;
}

img{
    height: 400px;
}

a {
    color: black;
}

.card {
    max-width: 500px;
    height: 100%;
}

.display-grid-movie-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 2rem;
    height: 100%;
    align-items: space-evenly;

}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.page-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.buttons-alignment {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    align-items: flex-end;
}

.movie-title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.movie-details {
    font-size: 1.2rem;
    margin-bottom: 3px;
    color: black;

}

.movie-description {
    /*border: 1px lightgray solid;*/
    /*border-radius: 5px;*/
    padding: 8px;
    color: black;
    text-align: justify;
}

.display-flex {
    display: flex;
}

.color-white, th, td {
    color: white;
}


/* Watchlist table CSS */

.watchlist-table {
    width: 60vw;
    border: 1px white solid;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem;
}

tr {
    border-bottom: 1px solid white;
}

th {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

td {
    padding: 1rem;
    font-size: 1.5rem;
}


/* Add Movie & Add Director CSS */

.add-form {
    padding: 2rem;
    border-radius: 15px;
    width: 30vw;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.form-group input{
    border-radius: 5px;
    margin-bottom: 5px;
}

.form-group label {
    font-weight: bold;
}


/* Profile Page CSS */
.update-block {
    padding: 2rem;
    border-radius: 15px;
    width: 30vw;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: white;
}

.update-block header h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.update-block header p {
    color: black;
}

.font-medium {
    font-size: large;
    color: #9ca3af;
}
